@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: steelblue;
}

.empty {
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 1px solid black;
    background: #fff;
}

.fill {
    background-image: url('https://source.unsplash.com/random/150x150');
    height: 148px;
    width: 148px;
    cursor: pointer;
}

.hold {
    border: 1px solid #ccc;
}

.hovered {
    background: #333;
    border-color: #fff;
    border-style: dashed;
}

.invisible {
    display: none;
}

@media(max-width: 768px) {
    body {
        flex-direction: column;
    }
}